
/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
body {
    font-family: "Open Sans", sans-serif;
    color: #444444;
    background-color: yellow;
}

a {
    color: #3b4ef8;
    text-decoration: none;
}

a:hover {
    color: #6c7afa;
    text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Krub", sans-serif;
}


/*--------------------------------------------------------------
# Disable aos animation delay on mobile devices
--------------------------------------------------------------*/
@media screen and (max-width: 768px) {
    [data-aos-delay] {
        transition-delay: 0 !important;
    }
}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#header {
    background: rgb(197, 195, 49);
    transition: all 0.5s;
    z-index: 997;
    padding: 15px 0;
}


/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
/**
* Desktop Navigation 
*/
.navbar {
    padding: 0;
}

.navbar ul {
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
    align-items: center;
}

.navbar li {
    position: relative;
}

.navbar a, .navbar a:focus {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0 10px 30px;
    font-family: "Krub", sans-serif;
    font-size: 14px;
    font-weight: 600;
    color: #2d405f;
    white-space: nowrap;
    transition: 0.3s;
}

.navbar a i, .navbar a:focus i {
    font-size: 12vw;
    line-height: 0;
    margin-left: 5px;
}

.navbar a:hover, .navbar .active, .navbar .active:focus, .navbar li:hover > a {
    color: #3b4ef8;
}

.navbar .getstarted, .navbar .getstarted:focus {
    background: #e2e5fe;
    padding: 9px 25px;
    margin-left: 30px;
    border-radius: 5px;
    font-weight: 600;
    color: #fff;
    color: #3b4ef8;
}
.navbar .getstarted:hover, .navbar .getstarted:focus:hover {
    color: #fff;
    background: #3b4ef8;
}


/*to make it on responsives on screens with max-width 600px*/
@media screen and (max-width: 600px) {
         
    .navbar {
        padding: 0;
    }

    .navbar ul {
        margin: 0;
        padding: 0;
        display: flex;
        list-style: none;
        align-items: center;
        padding-right: 300px;
    }

    .navbar li {
        position: relative;
    }

    .navbar a, .navbar a:focus {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 10px 0 10px 30px;
        font-family: "Krub", sans-serif;
        font-size: 3vw;
        font-weight: 600;
        color: #2d405f;
        white-space: nowrap;
        transition: 0.3s;
    }

    .navbar a i, .navbar a:focus i {
        font-size: 12vw;
        line-height: 0;
        margin-left: 5px;
    }

    .navbar a:hover, .navbar .active, .navbar .active:focus, .navbar li:hover > a {
        color: #3b4ef8;
    }

    .navbar .getstarted, .navbar .getstarted:focus {
        background: #e2e5fe;
        padding: 9px 25px;
        margin-left: 30px;
        border-radius: 5px;
        font-weight: 600;
        color: #fff;
        color: #3b4ef8;
    }

    .navbar .getstarted:hover, .navbar .getstarted:focus:hover {
        color: #fff;
        background: #3b4ef8;
    }

}

/*--------------------------------------------------------------
# Mental health organisation section
--------------------------------------------------------------*/
#Organisations{
    padding-top: 200px; /*to make sure the text goes down, so it is visible*/
    padding-bottom: 200px;
}

/*to center the text*/
#Organisations h2{
    text-align: center;
}

/*this is the first grid*/
.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /*puts the boxes side by side*/
    grid-auto-rows: minmax(25px, auto);
    grid-gap: 10rem;
    padding-top: 60px;
    padding-left: 250px;
    padding-right: 250px;
}
  
.grid-item {
    background: yellow;
    padding: 10px;
    text-align: center;
    width: 370px;
}

/*to make it on responsives on screens with max-width 600px*/
@media screen and (max-width: 600px) {
    #Organisations{
        padding-top: 200px; /*to make sure the text goes down, so it is visible*/
        padding-bottom: 200px;
    }
    
    /*to center the text*/
    #Organisations h2{
        text-align: center;
    }
    
    /*this is the first grid*/
    .grid {
        display: grid;
        grid-template-columns: repeat(1, 1fr); /*puts the boxes side by side*/
        grid-gap: 1rem;
        padding-top: 60px;
        padding-left: 20px;
        text-align: center;
    }
      
    .grid-item {
        background: yellow;
        padding: 10px;
        text-align: center;
        width: 370px;
    }
}



/*--------------------------------------------------------------
# Quotes Section
--------------------------------------------------------------*/

#Quotes {
    background-color:yellow;
    height: 80vh;
    padding-top: 400px; /*to give section between the previous space and this section*/
}
  
.generalQuotesBox{
    width: 185vmin;
    height: 400px;
    position: absolute;
    transform: translate(-50%,-50%); /*to make it in the middle of the page*/
    left: 50%;
    overflow: hidden;
    border: 10px solid #ffffff;
    border-radius: 8px;
    box-shadow: 10px 25px 30px rgba(0,0,0,0.3);
    background: #f1f1f1f1;
}
  
/* Slides */
.mySlides {
    padding: 80px;
    font-size: 2.7vw;
    text-align: center;
}

/* Next & previous buttons */
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -30px;
    padding: 16px;
    color: #888;
    font-weight: bold;
    font-size: 2.7vw;
    border-radius: 0 3px 3px 0;
    user-select: none;
}
  
/* Position the "next button" to the right */
.next {
    position: absolute;
    right: 0;
    border-radius: 3px 0 0 3px;
}
  
/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
    color: white;
}
  
.author {
    color: rgb(214, 195, 21);
}

/*to make it on responsives on screens with max-width 600px*/
@media screen and (max-width: 600px) {
        
    #Quotes {
        background-color:yellow;
        height: 80vh;
        padding-top: 400px; /*to give section between the previous space and this section*/
    }
    
    .generalQuotesBox{
        width: 85vmin;
        height: 400px;
        position: absolute;
        transform: translate(-50%,-50%); /*to make it in the middle of the page*/
        left: 50%;
        overflow: hidden;
        border: 10px solid #ffffff;
        border-radius: 8px;
        box-shadow: 10px 25px 30px rgba(0,0,0,0.3);
        background: #f1f1f1f1;
    }
    
    /* Slides */
    .mySlides {
        padding: 80px;
        font-size: 4.7vw;
        text-align: center;
    }

    /* Next & previous buttons */
    .prev, .next {
        cursor: pointer;
        position: absolute;
        top: 50%;
        width: auto;
        margin-top: -30px;
        padding: 16px;
        color: #888;
        font-weight: bold;
        font-size: 2.7vw;
        border-radius: 0 3px 3px 0;
        user-select: none;
    }
    
    /* Position the "next button" to the right */
    .next {
        position: absolute;
        right: 0;
        border-radius: 3px 0 0 3px;
    }
    
    /* On hover, add a black background color with a little bit see-through */
    .prev:hover, .next:hover {
        background-color: rgba(0,0,0,0.8);
        color: white;
    }
    
    .author {
        color: rgb(214, 195, 21);
    }
}

/*--------------------------------------------------------------
# Thanks section
--------------------------------------------------------------*/
#thanks {
    height: 520px;
    padding-top: 240px;
    text-align: center;
    background-image: url("https://images.pexels.com/photos/2120614/pexels-photo-2120614.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"); /*this image is used as a background image*/
    background-repeat: no-repeat;
    background-position: center; /*to make the picture center*/
    background-size: cover; /*to make the picture cover from left to right*/
    position: relative;
}

.section-title{
    color: rgb(252, 252, 252);
    text-transform: uppercase;
}

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
#footer {
    margin-top:100px;
    color: #444444;
    font-size: 1vw;
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
    background: rgb(197, 195, 49);
}

/*to make it on responsives on screens with max-width 600px*/
@media screen and (max-width: 600px) {
    #footer {
        margin-top:100px;
        color: #444444;
        font-size: 3vw;
        box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
        background: rgb(197, 195, 49);
        width:600px;
    }
}
