
/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
body {
    font-family: "Open Sans", sans-serif;
    color: #444444;
    background-color: yellow;
}

a {
    color: #3b4ef8;
    text-decoration: none;
}

a:hover {
    color: #6c7afa;
    text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Krub", sans-serif;
}


/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
/*settings for the header section*/
#header {
    background: rgb(197, 195, 49);
    transition: all 0.5s;
    z-index: 997;
    padding: 15px 0;
}

/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
/**
* Desktop Navigation 
*/

.navbar {
    padding: 0;
}
  
.navbar ul {
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
    align-items: center;
}
  
.navbar li {
    position: relative;
}
  
.navbar a, .navbar a:focus {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0 10px 30px;
    font-family: "Krub", sans-serif;
    font-size: 14px;
    font-weight: 600;
    color: #2d405f;
    white-space: nowrap;
    transition: 0.3s;
}
  
.navbar a i, .navbar a:focus i {
    font-size: 12px;
    line-height: 0;
    margin-left: 5px;
}
  
.navbar a:hover, .navbar .active, .navbar .active:focus, .navbar li:hover > a {
    color: #3b4ef8;
}
  
.navbar .getstarted, .navbar .getstarted:focus {
    background: #e2e5fe;
    padding: 9px 25px;
    margin-left: 30px;
    border-radius: 5px;
    font-weight: 600;
    color: #fff;
    color: #3b4ef8;
}
  
.navbar .getstarted:hover, .navbar .getstarted:focus:hover {
    color: #fff;
    background: #3b4ef8;
}
  
  
/*to make it on responsives on screens with max-width 600px*/
@media screen and (max-width: 600px) {
           
    .navbar {
        padding: 0;
    }
  
    .navbar ul {
        margin: 0;
        padding: 0;
        display: flex;
        list-style: none;
        align-items: center;
        padding-right: 300px;
    }
  
    .navbar li {
        position: relative;
    }
  
    .navbar a, .navbar a:focus {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 10px 0 10px 30px;
        font-family: "Krub", sans-serif;
        font-size: 2vw;
        font-weight: 600;
        color: #2d405f;
        white-space: nowrap;
        transition: 0.3s;
    }
  
    .navbar a i, .navbar a:focus i {
        font-size: 12vw;
        line-height: 0;
        margin-left: 5px;
    }
  
    .navbar a:hover, .navbar .active, .navbar .active:focus, .navbar li:hover > a {
        color: #3b4ef8;
    }
  
    .navbar .getstarted, .navbar .getstarted:focus {
        background: #e2e5fe;
        padding: 9px 25px;
        margin-left: 30px;
        border-radius: 5px;
        font-weight: 600;
        color: #fff;
        color: #3b4ef8;
    }
  
    .navbar .getstarted:hover, .navbar .getstarted:focus:hover {
        color: #fff;
        background: #3b4ef8;
    }
  
}

/*--------------------------------------------------------------
# FAQ Section
--------------------------------------------------------------*/
#FAQ{
    padding-top: 170px; /*to make sure the text goes down, so it is visible*/
}

/*to center the text*/
#FAQ h2{
    text-align: center;
}

/*body of the accordian*/
.accordion {
    width: 800px;
    margin: 90px auto;
    color: black;
    background-color: #0fc8e0;
    padding: 45px 45px;
}
 
.accordion2{
    width: 800px;
    margin: 90px auto;
    color: black;
    background-color: rgb(179, 240, 13);
    padding: 45px 45px;
}

/* setting for the question  part and sets the cursorto be a pointer */
.accordion .question {
    position: relative;
    padding: 10px 0;
    font-size: 1.5vw;
    color: black;
    cursor: pointer;
}

/* setting for the question  part and sets the cursorto be a pointer */
.accordion2 .question {
    position: relative;
    padding: 10px 0;
    font-size: 1.5vw;
    color: black;
    cursor: pointer;
}


/* Positions the plus sign 5px from the right. 
Centers it using the transform property. */
.accordion .question::before {
    content: '+';
    color: black;
    position: absolute;
    top: 50%;
    right: -5px;
    font-size: 1.5vw;
    transform: translateY(-50%);
}

.accordion2 .question::before {
    content: '+';
    color: black;
    position: absolute;
    top: 50%;
    right: -5px;
    font-size: 1.5vw;
    transform: translateY(-50%);
}

/* Hides the content by setting height: 0*/
.accordion .answer {
    position: relative;
    background: #0fc8e0;
    height: 0;
    font-size: 1.2vw;
    text-align: justify;
    width: 700px;
    overflow: hidden;
    transition: 0.5s;
}

.accordion2 .answer {
    position: relative;
    background: rgb(179, 240, 13);
    height: 0;
    font-size: 1.3vw;
    text-align: justify;
    width: 700px;
    overflow: hidden;
    transition: 0.5s;
}
  
/* reveals the answer part. sets the height and width of answer*/
.accordion .accordianBox.active .answer {
    height: 205px;
    width: 700px;
}
  
.accordion2 .accordianBox.active .answer {
    height: 150px;
    width: 700px;
}

/* Changes from plus sign to negative sign when answer box is shown */
.accordion .accordianBox.active .question::before {
    content: '-';
    font-size: 1.5vw;
}

.accordion2 .accordianBox.active .question::before {
    content: '-';
    font-size: 1.5vw;
}

/*this is the first grid*/
.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /*puts the boxes side by side*/
    grid-gap: 10em;
    padding-top: 60px;
    padding-left: 250px;
    padding-right: 250px;
}
  
.grid-item {
    background: white;
    padding: 10px;
    text-align: center;
    width: 370px;
    border-bottom: 2px solid black;
}

/*this is the second grid*/
.grid2 {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /*puts the boxes side by side*/
    grid-gap: 10em; /*space between the grid*/
    padding-top: 60px;
    padding-left: 550px;
    padding-right: 250px;
}

/*to make it on responsives on screens with max-width 600px*/
@media screen and (max-width: 600px) {
    #FAQ{
        padding-top: 50px; /*to make sure the text goes down, so it is visible*/
        padding-bottom: 50px;
    }
    
    /*to center the text*/
    #FAQ h2{
        text-align: center;
    }
    
    /*body of the accordian*/
    .accordion {
        width: 300px;
        margin: 90px auto;
        color: black;
        background-color: #0fc8e0;
        padding: 45px 45px;
    }
    
    .accordion2{
        width: 300px;
        margin: 90px auto;
        color: black;
        background-color: rgb(179, 240, 13);
        padding: 45px 45px;
    }

    
    /* setting for the question  part and sets the cursorto be a pointer */
    .accordion .question {
        position: relative;
        padding: 10px 0;
        font-size: 2.5vw;
        color: black;
        cursor: pointer;
    }

    /* setting for the question  part and sets the cursorto be a pointer */
    .accordion2 .question {
        position: relative;
        padding: 10px 0;
        font-size: 2.5vw;
        color: black;
        cursor: pointer;
    }


    /* Positions the plus sign 5px from the right. 
    Centers it using the transform property. */
    .accordion .question::before {
        content: '+';
        color: black;
        position: absolute;
        top: 50%;
        right: -5px;
        font-size: 1.5vw;
        transform: translateY(-50%);
    }

    .accordion2 .question::before {
        content: '+';
        color: black;
        position: absolute;
        top: 50%;
        right: -5px;
        font-size: 1.5vw;
        transform: translateY(-50%);
    }

    /* Hides the content by setting height: 0*/
    .accordion .answer {
        position: relative;
        background: #0fc8e0;
        height: 0;
        font-size: 2.2vw;
        text-align: justify;
        width: 200px;
        overflow: hidden;
        transition: 0.5s;
    }

    .accordion2 .answer {
        position: relative;
        background: rgb(179, 240, 13);
        height: 0;
        font-size: 2.3vw;
        text-align: justify;
        width: 200px;
        overflow: hidden;
        transition: 0.5s;
    }
    
    /* reveals the answer part. sets the height and width of answer*/
    .accordion .accordianBox.active .answer {
        height: 205px;
        width: 200px;
    }
    
    .accordion2 .accordianBox.active .answer {
        height: 150px;
        width: 200px;
    }

    /* Changes from plus sign to negative sign when answer box is shown */
    .accordion .accordianBox.active .question::before {
        content: '-';
        font-size: 2.5vw;
    }

    .accordion2 .accordianBox.active .question::before {
        content: '-';
        font-size: 2.5vw;
    }

    /*this is the first grid*/
    .grid {
        display: grid;
        grid-template-columns: repeat(1, 1fr); /*puts the boxes side by side*/
        grid-gap: 1rem;
        padding-top: 60px;
        padding-left: 20px;
        text-align: center;
    }
      
    .grid-item {
        background: yellow;
        padding: 10px;
        text-align: center;
        width: 370px;
    }

    /*this is the second grid*/
    .grid2 {
        display: grid;
        grid-template-columns: repeat(1, 1fr); /*puts the boxes side by side*/
        grid-gap: 1em; /*space between the grid*/
        padding-top: 1px;
        padding-left: 20px;

    }
}

/*--------------------------------------------------------------
# Quotes Section
--------------------------------------------------------------*/
#Quotes {
    background-color:yellow;
    height: 80vh;
    padding-top: 500px; /*to give section between the previous space and this section*/
}
  
.generalQuotesBox{
    width: 185vmin;
    height: 400px;
    position: absolute;
    transform: translate(-50%,-50%); /*to make it in the middle of the page*/
    left: 50%;
    overflow: hidden;
    border: 10px solid #ffffff;
    border-radius: 8px;
    box-shadow: 10px 25px 30px rgba(0,0,0,0.3);
    background: #f1f1f1f1;
}
  
/* Slides - centers text and creates space*/
.mySlides {
    padding: 80px;
    font-size: 2.7vw;
    text-align: center;
}

/* Next & previous buttons */
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -30px;
    padding: 16px;
    color: #888;
    font-weight: bold;
    font-size: 2.7vw;
    border-radius: 0 3px 3px 0;
    user-select: none;
}
  
/* Position the "next button" to the right */
.next {
    position: absolute;
    right: 0;
    border-radius: 3px 0 0 3px;
}
  
/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
    color: white;
}
  
.author {
    color: rgb(214, 195, 21);
}


/*to make it on responsives on screens with max-width 600px*/
@media screen and (max-width: 600px) {
        
    #Quotes {
        background-color:yellow;
        height: 80vh;
        padding-top: 400px; /*to give section between the previous space and this section*/
    }
    
    .generalQuotesBox{
        width: 85vmin;
        height: 400px;
        position: absolute;
        transform: translate(-50%,-50%); /*to make it in the middle of the page*/
        left: 50%;
        overflow: hidden;
        border: 10px solid #ffffff;
        border-radius: 8px;
        box-shadow: 10px 25px 30px rgba(0,0,0,0.3);
        background: #f1f1f1f1;
    }
    
    /* Slides */
    .mySlides {
        padding: 80px;
        font-size: 4.7vw;
        text-align: center;
    }

    /* Next & previous buttons */
    .prev, .next {
        cursor: pointer;
        position: absolute;
        top: 50%;
        width: auto;
        margin-top: -30px;
        padding: 16px;
        color: #888;
        font-weight: bold;
        font-size: 2.7vw;
        border-radius: 0 3px 3px 0;
        user-select: none;
    }
    
    /* Position the "next button" to the right */
    .next {
        position: absolute;
        right: 0;
        border-radius: 3px 0 0 3px;
    }
    
    /* On hover, add a black background color with a little bit see-through */
    .prev:hover, .next:hover {
        background-color: rgba(0,0,0,0.8);
        color: white;
    }
    
    .author {
        color: rgb(214, 195, 21);
    }
}


/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
/*settings for the footer section*/
#footer {
    margin-top:100px;
    color: #444444;
    font-size: 14px;
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
    background: rgb(197, 195, 49);
}

#footer .credits {
  padding-top: 5px;
  font-size: 13px;
  color: #444444;
}
#footer .social-links a {
  font-size: 18px;
  display: inline-block;
  background: #e7eafe;
  color: #3b4ef8;
  line-height: 1;
  padding: 8px 0;
  margin-right: 4px;
  border-radius: 5px;
  text-align: center;
  width: 36px;
  height: 36px;
  transition: 0.3s;
}
#footer .social-links a:hover {
  background: #3b4ef8;
  color: #fff;
  text-decoration: none;
}


/*to make it on responsives on screens with max-width 600px*/
@media screen and (max-width: 600px) {
    #footer {
        margin-top:100px;
        color: #444444;
        font-size: 3vw;
        box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
        background: rgb(197, 195, 49);
        width:600px;
    }
}