
/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
body {
  font-family: "Open Sans", sans-serif;
  color: #444444;
  background-color: yellow;
}

a {
  color: #3b4ef8;
  text-decoration: none;
}

a:hover {
  color: #6c7afa;
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Krub", sans-serif;
}

/*--------------------------------------------------------------
# Back to top button
--------------------------------------------------------------*/
.back-to-top {
  position: fixed;
  visibility: hidden;
  opacity: 0;
  right: 15px;
  bottom: 15px;
  z-index: 996;
  background: #3b4ef8;
  width: 40px;
  height: 40px;
  border-radius: 4px;
  transition: all 0.4s;
}
.back-to-top i {
  font-size: 28px;
  color: #fff;
  line-height: 0;
}
.back-to-top:hover {
  background: #6272f9;
  color: #fff;
}
.back-to-top.active {
  visibility: visible;
  opacity: 1;
}

/*--------------------------------------------------------------
# Preloader
--------------------------------------------------------------*/
#preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
  overflow: hidden;
  background: #fff;
}

#preloader:before {
  content: "";
  position: fixed;
  top: calc(50% - 30px);
  left: calc(50% - 30px);
  border: 6px solid #3b4ef8;
  border-top-color: #e2e5fe;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  -webkit-animation: animate-preloader 1s linear infinite;
  animation: animate-preloader 1s linear infinite;
}

@-webkit-keyframes animate-preloader {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes animate-preloader {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
/*--------------------------------------------------------------
# Disable aos animation delay on mobile devices
--------------------------------------------------------------*/
@media screen and (max-width: 768px) {
  [data-aos-delay] {
    transition-delay: 0 !important;
  }
}
/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#header {
  background: rgb(197, 195, 49);
  transition: all 0.5s;
  z-index: 997;
  padding: 15px 0;
}


/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
/**
* Desktop Navigation 
*/
.navbar {
  padding: 0;
}
.navbar ul {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
  align-items: center;
}
.navbar li {
  position: relative;
}
.navbar a, .navbar a:focus {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0 10px 30px;
  font-family: "Krub", sans-serif;
  font-size: 14px;
  font-weight: 600;
  color: #2d405f;
  white-space: nowrap;
  transition: 0.3s;
}
.navbar a i, .navbar a:focus i {
  font-size: 12px;
  line-height: 0;
  margin-left: 5px;
}
.navbar a:hover, .navbar .active, .navbar .active:focus, .navbar li:hover > a {
  color: #3b4ef8;
}
.navbar .getstarted, .navbar .getstarted:focus {
  background: #e2e5fe;
  padding: 9px 25px;
  margin-left: 30px;
  border-radius: 5px;
  font-weight: 600;
  color: #fff;
  color: #3b4ef8;
}
.navbar .getstarted:hover, .navbar .getstarted:focus:hover {
  color: #fff;
  background: #3b4ef8;
}

/*--------------------------------------------------------------
# How does Inta Help You Section
--------------------------------------------------------------*/
#Features {
  background-color:yellow;
  height: 80vh;
  padding-top: 150px;
}
.boxes {
  padding-top:40px;
  padding-bottom: 100px;
  text-align: center;
}
#left {
  left:20%;
  position:absolute;
  width:380px;
  height:360px;
  background-color:rgba(20, 165, 223, 0.904);
  border:rgba(20, 165, 223, 0.904);
}

#middle {
  left:40%;
  position:absolute;
  width:380px;
  height:360px;
  background-color:white; 
  border:white;
  margin-left:20px;
  padding: 30;
}

#right {
  left:57.8%;
  position:absolute;
  width:380px;
  height:360px;
  background-color: rgb(179, 240, 13); 
  border: rgb(179, 240, 13);
  margin-left:80px;
}

#Features h2 {
  font-size: 40px;
  font-weight: 700;
  line-height: 56px;
  width: 90%;
  color: #2d405f;
  text-align: center;
  padding-left: 230px;
}

#Features p {
  padding-top: 50px;
  text-align: center;
}

#Features h4 {
  padding-top: 50px;
  text-align: center;
}


/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
#hero {
  width: 100%;
  height: 100vh;  /*this is the height of the background*/
  background: yellow;
  /*border-bottom: 2px solid white;*/
  text-align: center; /*center the text*/
  padding-top: 490px;
}

#hero .container {
  padding-top: 70px;
}

#hero h1 {
  margin: 0;
  font-size: 48px;
  font-weight: 700;
  line-height: 56px;
  color: #141d2b;
  width: 60%;
  color: #01fe87;
  position: relative;
  -webkit-text-stroke: 0.3vw #383d52; /*shades it the*/
  text-transform: uppercase;
  padding-bottom: 450px;
}

/*doing the background of the speech bubble*/
.speech-bubble {
  background: #0fc8e0;
  color: #fff;
  padding: 15.19em 85em;
  position: relative;
  border-radius: 0 0.25em 0.25em 0.25em; 
  box-shadow: 20px 80px 40px #664400;  /*shadow for background*/
  animation: speech .7s linear 1;
}


#hero .hero-img {
  max-width: 60%;
  margin-top: 40px;
}
@media (max-width: 992px) {
  #hero h1 {
    font-size: 36px;
    line-height: 42px;
    width: 100%;
  }
  #hero h2 {
    font-size: 20px;
    line-height: 24px;
  }
  #hero .hero-img {
    max-width: 90%;
  }
}
@media (max-height: 768px) {
  #hero {
    height: auto;
  }
}

/*--------------------------------------------------------------
# Sections General
--------------------------------------------------------------*/
section {
  padding: 60px 0;
  overflow: hidden;
}

.section-bg {
  background-color: yellow;
}

.section-title {
  text-align: center;
  padding-bottom: 30px;
}
.section-title h2 {
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 20px;
  padding-bottom: 20px;
  position: relative;
  color: #2d405f;
}
.section-title h2::after {
  content: "";
  position: absolute;
  display: block;
  width: 50px;
  height: 3px;
  background: #aabbd7;
  bottom: 0;
  left: calc(50% - 25px);
}
.section-title p {
  margin-bottom: 0;
}

/*--------------------------------------------------------------
# Quotes Section
--------------------------------------------------------------*/

#Quotes {
  background-color:yellow;
  border-bottom: 2px solid white;
  height: 80vh;
  padding-top: 300px; /*to give section between the previous space and this section*/
}

.generalQuotesBox{
  width: 185vmin;
  height: 400px;
  position: absolute;
  transform: translate(-50%,-50%); /*to make it in the middle of the page*/
  left: 50%;
  overflow: hidden;
  border: 10px solid #ffffff;
  border-radius: 8px;
  box-shadow: 10px 25px 30px rgba(0,0,0,0.3);
  background: #f1f1f1f1;
}

/* Slides */
.mySlides {
  padding: 80px;
  font-size: 50px;
  text-align: center;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -30px;
  padding: 16px;
  color: #888;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  position: absolute;
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
  color: white;
}

.author {
  color: rgb(214, 195, 21);
}

/*--------------------------------------------------------------
# About Me - the developer
--------------------------------------------------------------*/
.team {
  background: #0fc8e0;
  padding: 60px 0;
}

.team .member {
  text-align: center;
  margin-bottom: 20px;
  background: #343a40;
  position: relative;
  display: block;
  overflow: hidden;
  left: calc(150% - 25px); /*TO GET THE IMAGE CENTERE*/
}

.team .member .member-info {
  opacity: 0;
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  transition: 0.2s;
}

.team .member .member-info-content {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 10px;
  transition: bottom 0.4s;
}

.team .member .member-info-content h4 {
  font-weight: 700;
  margin-bottom: 2px;
  font-size: 18px;
  color: #fff;
}

.team .member .member-info-content span {
  font-style: italic;
  display: block;
  font-size: 13px;
  color: #fff;
}

.team .member .social {
  position: absolute;
  left: 0;
  bottom: -38px;
  right: 0;
  height: 48px;
  transition: bottom ease-in-out 0.4s;
  text-align: center;
}

.team .member .social a {
  transition: color 0.3s;
  color: rgba(255, 255, 255, 0.7);
  margin: 0 10px;
  display: inline-block;
}

.team .member .social a:hover {
  color: #fff;
}

.team .member .social i {
  font-size: 18px;
  margin: 0 2px;
}

.team .member:hover .member-info {
  background: linear-gradient(0deg, rgba(12, 17, 26, 0.9) 0%, rgba(20, 29, 43, 0.8) 20%, rgba(0, 212, 255, 0) 100%);
  opacity: 1;
  transition: 0.4s;
}

.team .member:hover .member-info-content {
  bottom: 60px;
  transition: bottom 0.4s;
  transition: bottom 0.4s;
}

.team .member:hover .social {
  bottom: 0;
  transition: bottom ease-in-out 0.4s;
}

/*--------------------------------------------------------------
# Contact
--------------------------------------------------------------*/
.contact{
  background: yellow;
}

.contact .info-box {
  text-align: center;
  box-shadow: 0 0 30px rgba(214, 215, 216, 0.6);
  padding: 20px 0 30px 0;
  background: rgb(238, 238, 238);
}

.contact .info-box i {
  font-size: 32px;
  color: #3b4ef8;
  padding: 8px;
}

.contact .info-box p {
  padding: 0;
  line-height: 24px;
  font-size: 14px;
  margin-bottom: 0;
}

@-webkit-keyframes animate-loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes animate-loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}


/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
#footer {
  margin-top:100px;
  color: #444444;
  font-size: 14px;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
  background: rgb(197, 195, 49);
}
